:root {
  --darkBack: #2c343e;
  --darkCyan: #0e8784;
  --btnHover: #66d2cf;
  --btnDisabled: #e2dedb;
  --darkGreyBlue: #333d4b;
  --paleOrange: #fdd6ba;
  --lightCream: #fefcf7;
  --grey: #83888f;
  --optionDefault: #f4f1eb;
}

@mixin text($font, $line: $font, $ls: normal) {
  font-size: $font;
  line-height: $line;
  letter-spacing: $ls;
}
@mixin pX($left: 0, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}
@mixin fraunces {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid1R($gap: 0) {
  display: grid;
  grid-auto-flow: column;
  gap: $gap;
}
@mixin grid1C($gap: 0) {
  display: grid;
  grid-auto-flow: row;
  gap: $gap;
}
