#footer {
  .in-footer {
    background-color: var(--darkBack);
    padding: 54px 55px;
    @include grid1C(48.5px);
    margin-bottom: 72px;

    .logo {
      width: 217.85px;
      height: 24px;
    }

    .navbar-footer {
      @include grid1C(24px);
      text-align: center;

      .link {
        @include text(12px, 15px, 0.923px);
        color: var(--grey);
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .social {
      @include grid1R(24px);
      grid-template-columns: repeat(3, 24px);
      justify-content: center;
    }
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  #footer {
    .in-footer {
      padding-right: 190px;
      padding-left: 215px;
      @include grid1C(32px);

      .logo {
        width: 217.85px;
        height: 24px;
        margin: 0 auto;
      }

      .navbar-footer {
        @include grid1R(32px);
      }

      .social {
        margin-top: 33px;
      }
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
}
