#footer {
  .in-footer {
    background-color: var(--darkBack);
    padding: 54px 55px;
    @include grid1C(48.5px);
    margin-bottom: 72px;

    .logo {
      width: 217.85px;
      height: 24px;
    }

    .navbar-footer {
      @include grid1C(24px);
      text-align: center;

      .link {
        @include text(12px, 15px, 0.923px);
        color: var(--grey);
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .social {
      @include grid1R(24px);
      grid-template-columns: repeat(3, 24px);
      justify-content: center;
    }
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  #footer {
    .in-footer {
      @include pX(215px, 190px);
      @include grid1C(32px);

      .logo {
        width: 217.85px;
        height: 24px;
        margin: 0 auto;
      }

      .navbar-footer {
        @include grid1R(32px);
      }

      .social {
        margin-top: 33px;
      }
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  #footer {
    .in-footer {
      display: flex;
      gap: 0;
      padding: 47px 85px 47px;

      .logo {
        width: initial;
        height: 26px;
        margin: 0 102.9px 0 0;
      }

      .navbar-footer {
        align-items: center;
        grid-auto-columns: max-content;
        grid-template-rows: 15px;
        align-self: center;
      }

      .social {
        margin-top: 0;
        margin-left: 368px;
      }
    }
  }
}
