body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: var(--lightCream);
  color: var(--lightCream);

  .content-wrapper {
    width: 327px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  section {
    margin-bottom: 120px;
  }

  .order-text {
    @include fraunces;
    @include text(24px, 40px);

    .green-text {
      color: var(--darkCyan);
    }
  }
}
* {
  margin: 0;
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  body {
    .content-wrapper {
      width: 688px;
    }

    section {
      margin-bottom: 144px;
    }

    #home {
      .create-btn {
        margin: 0 !important;
      }
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    .content-wrapper {
      width: 1280px;
    }

    section {
      margin-bottom: 200px;
    }

    section#hero {
      margin-bottom: 168px !important;
    }

    #home section#hero {
      margin-bottom: 136px !important;
    }
  }
}
