body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: var(--lightCream);
  color: var(--lightCream);

  .content-wrapper {
    width: 327px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  section {
    margin-bottom: 120px;
  }
}
* {
  margin: 0;
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  body {
    .content-wrapper {
      width: 689px;
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    .content-wrapper {
      width: 1280px;
    }
  }
}
