#plan {
  #works {
    .in-works {
      text-align: center;
      background: url("../assets/plan/mobile/bg-steps.png");
      margin-left: -24px;
      margin-right: -24px;
      padding: 80px 24px 79px;
      border-radius: 10px;

      .cards {
        @include grid1C(56px);

        .card-article {
          @include grid1C(24px);

          .number {
            @include fraunces;
            @include text(72px);
            color: var(--paleOrange);
          }

          .card-title {
            @include fraunces;
            @include text(28px, 32px);
            color: #fff;
          }

          .card-desc {
            @include text(15px, 25px);
            color: #fff;
          }
        }
      }
    }
  }

  #choice {
    .menu-left {
      display: none;
    }
    .cards {
      .accordion {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        color: var(--grey);
        cursor: pointer;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        @include fraunces;
        @include text(24px, 28px);
        margin-bottom: 32px;

        &:disabled {
          opacity: 0.5;
        }

        .title {
          width: 240px;
        }

        &:after {
          @include flexCenter;
          content: url("../assets/plan/icon-arrow.svg");
          height: 100%;
          transition: all 400ms ease;
        }

        &.active:after {
          transform: rotate(180deg);
        }
      }

      .accordion.active + .panel {
        @include grid1C(16px);
      }

      .panel {
        overflow: hidden;
        color: black;
        transition: max-height 0.2s ease-out;
        margin-bottom: 110px;
        display: none;

        .choice {
          input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;
          }

          label {
            display: block;
            background-color: var(--optionDefault);
            padding: 24px 25px;
            border-radius: 8px;

            .title {
              @include fraunces;
              @include text(24px, 32px);
              margin-bottom: 8px;
            }

            .desc {
              @include text(16px, 26px);
            }
          }

          input[type="radio"]:checked + label {
            background-color: var(--darkCyan);
            color: #fff;
          }
        }
      }
    }
  }
}
/**
* ? Tablet
*/
@media (min-width: 768px) {
  #plan {
    #works {
      .in-works {
        text-align: left;
        background: url("../assets/plan/tablet/bg-steps.png");
        margin-left: -40px;
        margin-right: -40px;
        padding: 176px 39px 70px 40px;

        .cards {
          @include grid1R(10px);
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    #choice {
      .cards {
        .accordion {
          @include text(32px, 48px);
          margin-bottom: 40px;
          .title {
            width: calc(100% - 20px);
          }
        }

        .accordion.active + .panel {
          @include grid1R(10px);
          grid-template-columns: repeat(3, 1fr);
        }

        .panel {
          margin-bottom: 100px;

          .choice {
            label {
              display: block;
              background-color: var(--optionDefault);
              padding: 32px 23px 57px 25px;

              .title {
                margin-bottom: 24px;
              }
            }
          }
        }
      }
    }
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  #plan {
    #works {
      .in-works {
        background: url("../assets/plan/desktop/bg-steps.png");
        mix-blend-mode: normal;
        margin-right: 0;
        margin-left: 0;
        padding: 198px 150px 99px 85px;

        .cards {
          gap: 95px;

          .card-article {
            .card-title {
              @include text(32px, 36px);
              width: 255px;
            }

            .card-desc {
              @include text(16px, 26px);
            }
          }
        }
      }
    }

    #choice {
      .menu-left {
        display: block;
      }

      .column {
        display: flex;
        @include pX(85px);

        .menu-left {
          margin-right: 125px;
          width: 255px;

          ul {
            padding-left: 0;

            li.list-menu {
              &:not(:last-child) {
                border-bottom: 1px solid rgba(131, 136, 143, 0.25);
                padding-bottom: 24px;
              }

              &:not(:first-child) {
                padding-top: 24px;
              }
            }
          }

          a.link-left {
            @include fraunces;
            @include text(24px, 32px);
            color: var(--darkGreyBlue);

            &:not(.active) {
              opacity: 0.4;

              &:hover {
                opacity: 0.6;
              }
            }
            &.disabled {
              pointer-events: none;
              opacity: 0.2;
              cursor: not-allowed;
            }

            .number {
              color: var(--darkCyan);
              margin-right: 28.5px;
            }
          }
        }
      }
      .cards {
        width: 730px;
        .accordion {
          font-size: 40px;
          margin-bottom: 56px;
        }

        .accordion.active + .panel {
          @include grid1R(23px);
        }

        .panel {
          margin-bottom: 88px;

          .choice {
            label {
              display: block;
              background-color: var(--optionDefault);
              padding: 32px 25px 84px 28px;

              &:hover {
                background: var(--paleOrange);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
